<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                <img src="../assets/img/sublimation-central.png" width="300px" height="auto">
            {% else %}
            <span >
                <img src="https://blogbybeaux.netlify.app/assets/img/sublimation-central.png" width="auto" height="36px">
            </span>
            
            
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    {% if site.show_get_theme_btn %}
        <a href="https://sublisnap.com" class="get-theme" role="button" aria-label='go to sublisnap.com'>
            SubliSnap.com
        </a>
    {% endif %}
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
